Source: rbfeeder
Section: net
Priority: optional
Maintainer: abcd567a <abcd567a@user.noreply.github.com>
Build-Depends:
 debhelper (>= 12),
 dh-sysuser,
 protobuf-c-compiler,
 libncurses5-dev,
 libncursesw5-dev,
 libjansson-dev,
 libprotobuf-c-dev,
 libcurl4-openssl-dev,
 librtlsdr-dev,
 dh-autoreconf,
 dpkg-dev,
 libev-dev,
 libudns-dev,
 pkg-config,
 libglib2.0-dev,
 sysuser-helper
Standards-Version: 4.6.2

Package: rbfeeder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RadarBox ADS-B feeder client
 A client for feeding ADS-B data to RadarBox. Supports RTL-SDR and network mode.
